@import url("../lib/jquery-ui/jquery-ui.css");

svg {
  background: #eee;
  width: 960px;
  height: 500px;
}

#counties path {
  stroke: #fff;
  stroke-width: .25px;
}

#states path {
  stroke: #fff;
  stroke-width: 1.5px;
}

#zoom_slider {
    float: left;
    margin-right: 20px;
    height: 150px;
}
