body {
    font-family: Verdana, sans-serif;
    font-size: 12px;       
}

#n3-ui_visDialog textarea, #n3-ui_exportDialog textarea {
    width: 450px;
    height: 200px;
    font-family: monospace;
}

.n3-vis_stage {
    float: left; 
    margin-right: 20px; 
    background: #fff;
    border: 1px solid #ccc;
}

#n3-ui_stage div.hover { outline: 3px solid firebrick; }

#n3-ui_stage svg { padding: 0px 10px; }

#n3-ui_stage .draw svg { cursor: crosshair; }

#n3-ui_stage svg .hover {
    stroke: firebrick;
    stroke-width: 3;
}

p.hover { outline: 2px solid firebrick; }

#n3-ui_stage .infobar {
    clear: both;
    display: block;
    background: #333;
    color: #fff;
    padding: 5px 10px;
}

#n3-ui_stage .infobar p { margin: 5px 0; }

#n3-ui_bottom_panel {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background: black url(../imgs/ui-bg_inset-soft_25_000000_1x100.png) 50% bottom repeat-x
}

#n3-ui_bottom_panel .button {
    float: right;
    margin-right: 15px;
    background-color: #444;
    background-repeat: no-repeat;
    background-position: 5px 50%;
    border: 1px solid #ddd;
    height: 40px;
    padding: 5px 5px 5px 45px;
    color: #fff;
    cursor: pointer;
}

#n3-ui_bottom_panel .button-left { float: left !important; }
#n3-ui_bottom_panel .button:hover { background-color: #555; }

#n3-ui_bottom_panel .new { background-image: url(../imgs/add-large.png);}
#n3-ui_bottom_panel .end { background-image: url(../imgs/accept.png);}
#n3-ui_bottom_panel .play { background-image: url(../imgs/play.png); }
#n3-ui_bottom_panel .export { background-image: url(../imgs/export.png); }

#n3-ui_palette a { 
    float: left; 
    margin-left: 30px;
    padding: 0 5px;
    width: 32px;
    height: 40px;
    text-indent: -999em;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#n3-ui_palette a.selected { background-color: #eaf2ff; }
#n3-ui_palette a:hover { opacity: 0.5; }

#n3-ui_palette a.circle { background-image: url(../imgs/draw-circle.png); }
#n3-ui_palette a.rect { background-image: url(../imgs/draw-rect.png); }
#n3-ui_palette a.line { background-image: url(../imgs/draw-line.png); }
#n3-ui_palette a.text { background-image: url(../imgs/draw-text.png); }

#n3-ui_side_panel {
    position: fixed;
    right: 15px;
    width: 300px;
    height: 90%;
    overflow: auto;
}

.scene { 
    margin-bottom: 10px; 
    background-color: #ddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#bbb)); 
    background-image: -webkit-linear-gradient(top, #ddd, #bbb); 
    background-image:    -moz-linear-gradient(top, #ddd, #bbb); 
    background-image:     -ms-linear-gradient(top, #ddd, #bbb); 
    background-image:      -o-linear-gradient(top, #ddd, #bbb); 
    background-image:         linear-gradient(to bottom, #ddd, #bbb);
    font-weight:bold;
    color:#333;
    border-radius: 0px !important;
}
.scene-header { 
    background-image: none !important;
    padding: 5px; 
    cursor: move; 
    border-radius: 0px !important;
    color: #fff;
}

/*.member {
    width: 275px;
    margin: 0 auto 5px auto;
}
.member-header, .member-content { padding: 5px; }*/
.members { padding-left: 0px !important; }

.member {
    list-style-type: none !important;
    background: none !important;
    color: #333 !important;
    border: 0 !important;
    height: 32px !important;
    margin-bottom: 15px !important;
    padding: 5px !important;
}

.members .hover { background: #ddd !important; }

.ui-icon-edit, .ui-icon-plusthick, .ui-icon-minusthick { 
    float: right;
    margin-left: 15px;
    cursor: pointer;
}

.ui-icon-draggable, .ui-icon-trigger, .ui-icon-style, .ui-icon-delete { 
    display: inline-block !important;
    float: left !important;
    height: 32px !important;
    margin-right: 15px !important;
    cursor: pointer !important;
}

.ui-icon-draggable {
    background: url(../imgs/drag-handle.png) no-repeat 0px 7px !important; 
    cursor: move !important;
}

.ui-icon-edit { background: url(../imgs/edit.png) no-repeat !important; }
.ui-icon-trigger { background: url(../imgs/trigger.png) no-repeat 0px 7px !important; }
.ui-icon-trigger-empty { background: url(../imgs/trigger-empty.png) no-repeat 0px 7px !important; }
.ui-icon-style { background: url(../imgs/styles.png) no-repeat 0px 7px !important; }
.ui-icon-delete { background: url(../imgs/delete.png) no-repeat 0px 7px !important; }

/*.state .member-text { background: url(../imgs/state.png) no-repeat 0px 10px !important; }*/
.state .ui-icon-style { background-image: none !important; }

.member-text {
    display: inline-block;
    float: left;
    width: 160px;
    height: 30px;
    overflow: hidden;
    padding-left: 4px;
}

#n3-ui_triggerDialog { overflow: auto; }

#n3-ui_triggerDialog textarea {
    width: 100%;
    height: 100px;
    font-family: monospace;
}

#n3-ui_triggerDialog li {
    list-style-type: none;
    border-top: 1px solid #444;
}

#n3-ui_triggerDialog li:nth-child(2) { border-top: 0; }

#n3-ui_triggerDialog .add_sub_trigger {
    text-indent: -999em;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../imgs/add.png) no-repeat;
}

#n3-ui_stylesDialog p { margin-bottom: 20px; }

.style_desc {
    display: inline-block;
    width: 150px;
    margin-right: 5px;
}

#fill_opacity, #stroke_width {
    display: inline-block;
    width: 150px;
    margin-right: 20px;
}

#fill_color, #stroke_color {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    cursor: pointer;
}

p.editable:hover { outline: 1px dotted #CCC; }